.navbar {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 40px;
  background: #ffffff;
  font-family:'Inter', system-ui, sans-serif;
  border-bottom: 1px solid#78787860;
  box-shadow: 0 10px 30px rgba(0,0,0,0.06);

}

.logo {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.6px;
  cursor: pointer;
  color: #000000;
 

}


.navbar-links {
  display: flex;
  gap: 40px;
}

.navbar-link {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #333;
  cursor: pointer;
  transition: color 0.25s ease;
}


.navbar-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #4fd1c5;
  transition: width 0.25s ease;
}

.navbar-link:hover {
  color: #8a8a8a;
}

@media (max-width: 768px) {
  .navbar {
    gap: 30px;
  }

  .navbar-links {
    gap: 20px;
  }

  .logo {
    font-size: 1.2rem;
  }
}
