.property-card {
    background: #434343;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    
}

.property-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
}

.property-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;

}

.property-card h3 {
  font-size: 1.1rem;
  color: #c7c7c7;
  margin: 16px 16px 16px;
}

.property-card h4 {
  font-size: 1rem;
  margin: 0 16px;
  color: #4cdeff;
  font-weight: 800;
}

.property-card p {

  font-size: 0.9rem;
  color: #cacaca;
  margin:6px 16px;
}

.property-card p:nth-of-type(3) {
  height: 64px;          
  overflow: hidden;
  margin-bottom: 10px;
}

.property-card button {
  margin: auto 14px 14px;
}

.btn.favorite {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #000000;
  color: rgb(158, 0, 170);
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

.btn.favorite:hover {
  background-color: #520055;
}