.search-form {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  width: 100%;
}

.search-form h2 {
  margin-bottom: 15px;
  font-size: 1.4rem;
  color: #222;
}

.search {
  display: flex;
  gap: 39px;
  align-items: center;
  width:100%;
  flex-wrap: wrap;
  
}
.search-group{
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: flex-end;
}

.search label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #444;
}

.search-group input,
.search-group select {
  padding:7Px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  width: 100%;
}

.search select[name="type"] {
  width: 160px;
}

.search input[name="postcode"] {
  width: 70px;
}

.search-group input[name="minBedrooms"],
.search-group input[name="maxBedrooms"] {
  width: 60px;
}

.search-group input[name="minPrice"],
.search-group input[name="maxPrice"]{
  width: 150px
}


.search input:focus,
.search select:focus {
  outline: none;
  border-color: #17a2b8;
}

.search button {
  padding: 12px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
  align-self: flex-end;
}


/*search button*/
.search button[type="submit"] {
  background-color: #28a745;
  color: #fff;
}

.search button[type="submit"]:hover {
  background-color: #218838;
}


/*reset button*/
.search button[type="button"] {
  background-color: #dc3545;
  color: #fff;
}

.search button[type="button"]:hover {
  background-color: #c82333;
}


@media (max-width: 768px) {
  .search {
    flex-direction: column;
    align-items: stretch;
  }

  .search-group input,
  .search-group select,
  .search button {
    width: 100%;
  }
}
