*{

  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0e0e0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main{
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.btn{
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 8px;
}

.btn.info {
  margin-top: 5px;
  background-color: #17a2b8;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.btn.info:hover {
  background-color: #138496;
}

.btn.remove {
  background-color: #dc3545;
  color: white;
  margin-left: 10px;
}

.btn:hover {
  opacity: 0.9;
}

.content-layout {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.prop-card{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* FAVORITES */
.favorites-bar {
  width: 250px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  position: sticky;
  top: 20px;
  height: fit-content;
}

.favorites-bar h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.favorites-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.favorite-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  
}

.favorite-item button {
  align-self: flex-end;
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: 0.2s ease;
}

.favorite-item button:hover {
  background-color: #c82333;
}

/* RESULTS */
.results {
  margin: 20px 0 10px;
  font-size: 18px;
}

/* PROPERTY GRID */
.property {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  flex: 1; /* take all remaining space */
}



/* MOBILE RESPONSIVE */
@media (max-width: 1024px) {
  .content-layout {
    flex-direction: column;
  }
  
  .favarites-bar {
    width: 100%;
    position: relative;
    top: auto;
    margin-bottom: 20px;
  }
}