*{

  margin: 0;
  padding: 0;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: #dbdbdb;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main{
  padding: 40px 24px;
  max-width: 1200px;
  margin: 0 auto;
}

.btn{
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 8px;
}

.btn.info {
  margin-top: 5px;
  background-color: #4296e0;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.btn.info:hover {
  background-color: #138496;
}

.btn.remove {
  background-color: #dc3545;
  color: white;
  margin-left: 10px;
}

.btn:hover {
  opacity: 0.9;
}

.content-layout {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.prop-card{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* FAVORITES */
.favorites-bar {
  width: 250px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);
  position: sticky;
  top: 20px;
  height: fit-content;
}

.favorites-bar h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.favorites-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.favorite-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0;
  border: 1px solid #eee;
  background-color: #f9f9f9;
  
}

.favorite-item button {
  align-self: flex-end;
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: 0.2s ease;
}

.favorite-item button:hover {
  background-color: #c82333;
}

/* RESULTS */
.results {
  margin: 20px 0 10px;
  font-size: 18px;
}

/* PROPERTY GRID */
.property {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  flex: 1; 
}



/*HERO SECTION*/
.hero {
  position: relative;
  width: 100%;
  height: 100%; 
  margin-bottom: 40px;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 800px;
  object-fit:fill;
  filter: brightness(0.9); 
  border-radius: 100px;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.hero-text h1 {
  font-size: 9vw; 
  font-weight: 800;
  margin: 0;
  white-space: nowrap;
}

.hero-text h2 {
  font-size: 4vw; 
  font-weight: 800;
  margin: 0;
  white-space: nowrap;
}

.hero-text p {
  font-size: 1.5rem;
  margin: 10px 0 0 0;
  font-weight: 500;
}

.scroll-down {
  position: absolute;
  bottom: -200px;         
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  color: #fff;
  text-shadow: 1px 1px 6px rgba(0,0,0,0.5);
  cursor: pointer;
}


/* MOBILE RESPONSIVE */
@media (max-width: 1024px) {
  .content-layout {
    flex-direction: column;
  }
  
  .favarites-bar {
    width: 100%;
    position: relative;
    top: auto;
    margin-bottom: 20px;
  }


  .hero {
    height: 300px;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 1.2rem;
  }
}